{% load static from staticfiles %}
{% load preference_tags %}
<!-- Preference variables -->
{% preferences site_logo as site_logo %}
{% preferences site_name as site_name %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} | {% block title %}{% endblock %}</title>
    {% include 'website/partial_meta.html' %}
    {% include 'website/base_css.html' %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'webarch/css/webarch.css' %}" rel="stylesheet" type="text/css"/>
    {% block extra_css %}{% endblock %}

    

</head>

<body>
<div id="wrapper">
{% include 'website/partial_left_sidebar.html' %}
  <div id="page-wrapper" class="gray-bg">
{% include 'website/partial_navbar.html' %}

<div class="wrapper wrapper-content">

    </div>
  <div class="footer">
              <div class="pull-right">

              </div>
              <div>
                  <strong>Copyright</strong>COMOVI &copy; 2014-2015
              </div>
          </div>
  </div>


  </div>
  {% include 'website/base_js.html' %}
  <script src="{% static 'webarch/js/webarch.js' %}" type="text/javascript"></script>
  {% block extra_js %}{% endblock %}


</body>


</html>
