{% load static from staticfiles %}
{% load preference_tags %}
<!-- Preference variables -->
{% preferences site_logo as site_logo %}
{% preferences site_name as site_name %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>{{ site_name }} | {% block title %}{% endblock %}</title>
    {% include 'website/partial_meta.html' %}
    {% include 'website/base_css.html' %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'webarch/css/webarch.css' %}" rel="stylesheet" type="text/css"/>

    {% block extra_css %}{% endblock %}
</head>

<body class="">
{% include 'website/partial_navbar.html' %}
<div class="page-container row-fluid">
    {% include 'website/partial_left_sidebar.html' %}
    <div class="page-content">
        {% block full_content %}
            <div class="content1">
                {% block content %}{% endblock %}
            </div>
            {% block content_bottom %}{% endblock %}
        {% endblock %}
    </div>
</div>
{% include 'website/base_js.html' %}
<script src="{% static 'webarch/js/webarch.js' %}" type="text/javascript"></script>
{% block extra_js %}{% endblock %}
</body>

</html>
<style type="text/css">
 
  
</style>