{% load static from staticfiles %}
{% load i18n %}
{% load preference_tags %}

{% preferences site_name as site_name %}
{% preferences site_logo as site_logo %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta charset="utf-8"/>
    <title>{{ site_name }} | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="" name="description"/>
    <meta content="Crater Solutions" name="author"/>
    <link href="{% static 'assets/plugins/bootstrapv3/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'webarch/css/webarch.css' %}" rel="stylesheet" type="text/css"/>
    <style type="text/css">
   
.column-seperation > div[class*="col-"] {
    border-right: 0px solid #ddd;
}


    </style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="error-body no-top">
<div class="container">
    <div class="row login-container column-seperation">
        <div class="col-md-5 col-md-offset-1">
            {% if site_logo %}
                <img src="{% static 'webarch/img/logos.png' %}" class="center-block" width="326" height="190" alt="">
            {% else %}
                <p>{% trans "Para agregar logo, edita las configuraciones " %}<a href="{% url 'admin:core_sitepreferences_changelist' %}">{% trans "aquí" %}</a></p>
            {% endif %}
        </div>
        <div class="col-md-5">
            <br>
            <form action="{% url 'website:login' %}" class="login-form validate" id="login-form" method="post"
                  name="login-form">
                {% csrf_token %}
                {% if error %}
                    <div class="row">
                        <div class="col-md-10">
                            <div class="alert alert-error">{{ error }}</div>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="form-group col-md-10">
                        <label class="form-label" for="username">{% trans "Usuario" %}</label>
                        <input class="form-control" id="username" name="username" type="text" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-10">
                        <label class="form-label" for="password">{% trans "Contraseña" %}</label> <span class="help"></span>
                        <input class="form-control" id="password" name="password" type="password" required>
                    </div>
                </div>
                <div class="row">
                    <div class="control-group col-md-10">
                        <div class="checkbox checkbox check-success">
                            <a href="#">{% trans "Tengo problemas de acceso" %}</a>&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <button class="btn btn-primary btn-cons pull-right" type="submit">{% trans "Entrar" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- BEGIN JS DEPENDECENCIES-->
<script src="{% static 'assets/plugins/jquery/jquery-1.11.3.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/bootstrapv3/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/jquery-validation/js/jquery.validate.min.js' %}" type="text/javascript"></script>
<!-- END CORE JS DEPENDECENCIES-->
<!-- BEGIN CORE TEMPLATE JS -->
<script src="{% static 'webarch/js/forms.js' %}" type="text/javascript"></script>
<!-- END CORE TEMPLATE JS -->
</body>
</html>