{% load static from staticfiles %}
{% load preference_tags %}
<!-- Preference variables -->
{% preferences site_logo as site_logo %}
{% preferences site_name as site_name %}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>{{ site_name }} | {% block title %}{% endblock %}</title>
    {% include 'website/partial_meta.html' %}
    {% include 'website/base_css.html' %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'webarch/css/webarch.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'webarch/js/jquery-2.1.1.js' %}"></script>
    {% block extra_css %}{% endblock %}

</head>

<body>
<body>
    <div id="wrapper">
{% include 'website/partial_left_sidebar.html' %}

<div id="page-wrapper" class="gray-bg">
	{% include 'website/partial_navbar.html' %}

	{% block content %}

	{% endblock %}

        
        
       
        </div>
        <div id="right-sidebar">
            <div class="sidebar-container">

      <div class="tab-contenw">


                <ul class="nav nav-tabss navs-3">

                    <li  > 
                       <a href="{% url 'website:my_profile' %}"> Mi cuenta</a>
                     </li>
                    <li> 
                       <a href="{% url 'website:inbox' %}"> Mis mensajes
                                   <span class="badge badge-important animated bounceIn">{{ request.user.unread_messages }}</span>
                               
                    </a></li>
                 
                </ul>

             

 
                  
                          
                       
 
 

            </div>



        </div>
    </div>
</div>
{% include 'website/base_js.html' %}
<script src="{% static 'webarch/js/webarch.js' %}" type="text/javascript"></script>
{% block extra_js %}{% endblock %}
</body>
</html>