{% extends 'website/master.html' %}
{% load i18n %}
{% block title %}
My Profile
{% endblock %}
{% load staticfiles %}
{% load crispy_forms_tags %}
 
{% block content %}
   <div id="toast-container" class="toast-top-right" aria-live="polite" role="alert">
    <div class="toast toast-success" style="">
        <button type="button" class="toast-close-button" role="button">×</button><div class="toast-message"></div></div></div>
 
    <style type="text/css">
       #toast-container{
        display: none;
       } 

    </style>
<script type="text/javascript">
$(document).ready(function () {
  //called when key is pressed in textbox
  $("#id_phone,#id_cell_phone").keypress(function (e) {
     //if the letter is not digit then display error and don't type anything
     if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        //display error message
        $("#errmsg").html("Digits Only").show().fadeOut("slow");
               return false;
    }
   });
});
</script>


<script type="text/javascript">
$(document).ready(function () {
  //called when key is pressed in textbox
  $("#id_birth_date").keypress(function (e) {
    var dateString=document.getElementById("id_birth_date").value;
    console.log(dateString);
    if(!/^\d{1,2}\/\d{1,2}\/\d{4}$/.test(dateString))
        return false;

    // Parse the date parts to integers
    var parts = dateString.split("/");
    var day = parseInt(parts[1], 10);
    var month = parseInt(parts[0], 10);
    var year = parseInt(parts[2], 10);

    // Check the ranges of month and year
    if(year < 1000 || year > 3000 || month == 0 || month > 12)
        return false;

    var monthLength = [ 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31 ];

    // Adjust for leap years
    if(year % 400 == 0 || (year % 100 != 0 && year % 4 == 0))
        monthLength[1] = 29;

    // Check the range of the day
    return day > 0 && day <= monthLength[month - 1];
   });
});
</script>

       
<!-- <script type="text/javascript">
    $(document).ready(function() {

        $(function() {
            $('#birthdate').datetimepicker({maxDateNow: true, format:'DD/MM/YYYY'});
        });
    });
</script> -->
        
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Profile</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'website:index' %}">Home</a>
            </li>
            <li class="active">
                <strong>Profile</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>



<div class="wrapper wrapper-content">
            {% if messages %}
                {% for m in messages %}
                    <script type="text/javascript">
                        $(function () {
                            $('#toast-container').show();
                            $(".toast-message").html('{% blocktrans %}{{ m }}{% endblocktrans %}');

                            $('.toast-close-button').click(()=>{

                            $('#toast-container').hide();
                            });
                            setTimeout(()=>{

                            $('#toast-container').hide();

                            },3000);

                            });
                    </script>
                {% endfor %}
            {% endif %}
            <div class="row animated fadeInRight">
                
                <div class="col-md-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Profile Detail</h5>
                    
                        </div>
                        <div>
                            {% with request.user.profile_picture as picture %}

                            {% if picture %}
                             <div class="ibox-content  border-left-right text-center">
                                <img alt="image"   class="img-responsive" src="{{ picture.url }}" style="display: inline-block;" />
                              </div>
                            {% else %}
                            <div class="ibox-content no-padding border-left-right text-center">
                             <img src="{% static 'assets/img/placeholder_profile_picture.webp' %}" 
                               alt="" style=" display: inline-block;" class="img-responsive"></div>
                            {% endif %}

                            {% endwith %}
                            <div class="ibox-content profile-content">
                                <h4><strong>{{ request.user.first_name}} {{ request.user.last_name }}</strong></h4>
                                <p><i class="fa fa-envelope"></i> {{ request.user.email }}</p>
                                 <!-- <p class="text-muted"><i class="fa fa-table"></i> Last updated on {{ user.last_login }} </p> -->
                                   <br>                      
                                <div class="user-button">
                                    <div class="row">
                                        <div class="col-md-6">
                                           

                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                    </div>
                <div class="col-md-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5></h5>
                            <div class="ibox-tools">
                               <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a> 
                                
                            </div>
                        </div>
                        <div class="ibox-content pd-0">

                            <div>
                                <div class="feed-activity-list">

                                    <form method="POST"  enctype="multipart/form-data" class="form-inline custom-form" action="">{% csrf_token %}
                                        {% for field in form %}
                                            {% if field.name == 'birth_date' %}

                                            <div class="form-group custom-design">
                                                <label>{{ field.label_tag }}</label>
                                                <div class="input-group date" data-provide="datepicker" id="birthdate">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input class="form-control" id="{{ field.auto_id }}" name="{{ field.name }}" placeholder="DD/MM/YYYY" data-date-end-date="0d">
                                            </div>
                                            </div>
                                            {% elif field.name == 'profile_picture' %}
                                                <div class="form-group">
                                                <div class="custom-file">
                                                    <input id="logo" type="file" class="custom-file-input" name="{{ field.name }}">
                                                    <label for="logo" class="custom-file-label">Choose file...</label>
                                                </div> </div> 
                                            {% else %}
                                                {{ field|as_crispy_field }}
                                            {% endif %}
                                        {% endfor %}

                                     <div class="form-group1 text-center custom-btn"> 
<br>
                                        <input type=submit value="Submit" id="showtoast" class="btn btn-primary btn-xs " /></div>
                                    </div>                                      

                                    </form>
                                   
                                </div>

                             

                            </div>
<div class="clearfix"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

   <style>
       @media (max-width: 767px){
ul.nav.navbar-top-links.navbar-right {
    text-align: right;
}
}
   </style>
    <!-- Mainly scripts -->
    





{% endblock %}
 
