{% load i18n %}
{% load static from staticfiles %}
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
        <div class="profile-wrapper sm pr-img">
                
                    
                        <a href="{% url 'website:index' %}"><img src="/static/webarch/img/logos-(2).png" width="100" height="65" alt=""></a>
                    
                
            </div>
            <ul class="nav metismenu" id="side-menu">
                  
                <!-- <li class="active">
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">{% trans "Mis Inmuebles" %} </span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" style="height: 0px;">
                        <li><a href="{% url 'website:page' %}">{% trans "Real Cerezos" %}   </a></li>
                        <li class="active"><a href="#">{% trans "Panuco 127" %}    </a></li>
                        <li><a href="#">{% trans "Cerrada Bugambilias" %}    </a></li>
                        <li><a href="#">{% trans "Torre Axus" %}    </a></li>
                        <li><a href="#">{% trans "Consultorious Sur" %}  <span class="label label-primary pull-right">2</span></a></li>
                    </ul>
                </li> -->

                {% if request.user.admin_profile %}

                <li class="{% if request.resolver_match.url_name == 'property' %}active{% endif %}">
                    <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        {% for property in request.user.admin_profile.my_properties %}
                            <li><a href="{% url 'website:property' property.id %}">{{ property.name }}</a></li>
                        {% endfor %}  
                    </ul>
                </li>
              
               {% elif request.user.owner_profile %}

                <li class="{% if request.resolver_match.url_name == 'property_interior' %}active{% endif %}">
                <a href="javascript:"> <i class="material-icons">Home</i> <span
                            class="title">Mis departamentos</span>
                        <span class=" arrow"></span> </a>
                    <ul class="sub-menu">
                        {% for property_interior in request.user.owner_profile.property_interiors_owned.all %}
                            <li>
                                <a href="{% url 'website:property_interior' property_interior.id %}">{{ property_interior }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="{% if request.resolver_match.url_name == 'payments' %}active{% endif %}">
                    <a href="{% url 'website:payments' %}">
                        <i class="material-icons">payments</i>
                        <span class="title">Pagos</span>
                    </a>
                </li>
                <li class="{% if request.resolver_match.url_name == 'payment_history' %}active{% endif %}">
                    <a href="{% url 'website:payment_history' %}">
                        <i class="material-icons">history</i>
                        <span class="title">Historial de pagos</span>
                    </a>
                </li>
                {% endif %}
                <li class="{% if request.resolver_match.url_name == 'newspaper' %}active{% endif %}">
                   <a href="{% url 'website:newspaper' %}">
                       <i class="material-icons">new_releases</i>
                       <span class="title">{% trans "Avisos" %}</span>
                   </a>
               </li>
               {% with request.resolver_match.url_name as url_name %}
                   <li class="{% if url_name == 'inbox' or url_name == 'inbox_sent' %}active{% endif %}">
                       <a href="{% url 'website:inbox' %}">
                           <i class="material-icons">email</i>
                           <span class="title">{% trans "Buzón de mensajes" %}</span>
                           <span class=" badge badge-disable pull-right ">{{ request.user.unread_messages }}</span>
                       </a>
                   </li>
               {% endwith %}

              <li>
                    <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">{% trans "Reportes" %}</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="graph_rickshaw.html">{% trans "Rickshaw Charts" %}</a></li>
                        
                    </ul>
                </li>
            </ul>

        </div>
    </nav>
