{% extends 'website/master.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<style type="text/css">
  .invalid-feedback > strong {
    color: red;
  }
</style>

<div class="wrapper wrapper-content">
            {% if messages %}
                {% for m in messages %}
                    
                    {{ m }}
                {% endfor %}
            {% endif %}
            <div class="row animated fadeInRight">
                
                <div class="col-md-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title"><h5>Property Manager </h5></div>
                        <div>
                            {% with request.user.profile_picture as picture %}

                              {% if picture %}
                               <div class="ibox-content  border-left-right text-center">
                                  <img alt="image" width="200" height="200"  src="{{ picture.url }}" style="display: inline-block;" />
                                </div>

                              {% else %}
                              <div class="ibox-content no-padding border-left-right text-center">
                               <img src="{% static 'assets/img/placeholder_profile_picture.webp' %}" 
                                 alt="" style=" display: inline-block;" class="img-responsive"></div>

                              {% endif %}

                            {% endwith %}
                            <div class="ibox-content profile-content">
                                <h4><strong>{{ request.user.first_name}} {{ request.user.last_name }}</strong></h4>
                                {% if request.user.email %}
                                  <p><i class="fa fa-envelope"></i> {{ request.user.email }}</p>
                                {% else %}
                                  <p><i class="fa fa-envelope"></i> N/A</p>
                                {% endif %}
                                 <!-- <p class="text-muted"><i class="fa fa-table"></i> Last updated on {{ user.last_login }} </p> -->
                                   <br>                      
                                
                                <div class="user-button">
                                    <div class="row">
                                        <div class="col-md-6">
                                           

                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                    </div>
                <div class="col-md-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5></h5>
                            <div class="ibox-tools">
                               <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a> 
                                
                            </div>
                        </div>
                        <div class="ibox-content pd-0">

                            <div>
                                <div class="feed-activity-list">

                                    <form method="POST"  enctype="multipart/form-data" class="form-inline custom-form" action="">{% csrf_token %}

                                        {% for field in form %}
                                            {% if field.name == 'profile_picture' %}
                                                <div class="form-group">
                                                  {{ field.label_tag }} 
                                                <div class="custom-file">
                                                    <input id="logo" type="file" class="custom-file-input" name="{{ field.name }}">
                                                    <label for="logo" class="custom-file-label">{% trans "Elija el archivo" %}</label>
                                                </div> </div> 
                                            {% else %}
                                                {{ field|as_crispy_field }}
                                            {% endif %}
                                        {% endfor %}

                                     <div class="form-group1 text-center custom-btn"> 
<br>
                                        <input type=submit value="{% trans 'Enviar' %}" id="showtoast" class="btn btn-primary btn-xs " /></div>
                                    </div><br/>
                                    <div class="form-group1 text-center custom-btn">
                                    <button class="btn btn-primary">Resend Current Password </button>
                                    </div>
                                    </form>
                                   
                                </div>

                             

                            </div>
<div class="clearfix"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

   <style>
       @media (max-width: 767px){
ul.nav.navbar-top-links.navbar-right {
    text-align: right;
}
}
   </style>

{% endblock %}